<h1> SHOW ME THE CREATURE!!!</h1>


<h2>NAME: <%= @creature.name %></h2>

<p>  SPECIIES: <%= @creature.species %></p>
<p> number of LEGos : <%= @creature.num_legs %> </p>
<p> is it danger doe? : <%= @creature.eats_humans %></p>
