<h1> MAKE A NEW AUTHOR! </h1>


<form action="/authors" method="post">
  <input type="text" name="name" placeholder=" Author name PLZZ">
  <input type="submit" value="SUBMIT THAT FORM! GOOD ANSWER!!">
</form>
