<h1> MAKE DAT NACHO!!! </h1>


<form action="/nachos" method="post">
  <input type="text" name="name" placeholder=" Put name here">
  <input type="text" name="toppings" placeholder=" Put toppings here">
  <input type="number" name="spicy" placeholder=" Put spicy here">
  <input type="submit" value="submit">
</form>
